.compare-empty{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  &__btn{
    padding: 2rem;
    border-radius: 10rem;
    border: none;
    color: #fff;
    background-color: var(--accent-color);
    cursor: pointer;
    svg{ 
      font-size: 5rem;
      transition: transform .35s ease-in-out;
      &:hover{
        transform: rotate(90deg);
      }
    }
    
  }
  &__text{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
}